.table {
    background: darkslategray;
}

#reservation-head {
    background: gray;
    text-align: center;
    font-size: 20px;
}

#reservation-list {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.check {
    background: antiquewhite;
    margin-bottom: 2%;
}

#form-body {
    background: darkslategrey;
}

#room-name {
    font-size: 30px;
    font-family: Verdana;
    color: black;
    text-align: center;
    margin-bottom: 2%;
}

.return {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    background: antiquewhite;
}

#form {
    width: 870px;
    margin: auto;
}

.f-input {
    margin-bottom: 2%;
}

h4 {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

.index-list-body {
    background: cadetblue;
}

.submit{
    margin-bottom: 2%;
}

#success-message {
    font-size: 30px;
    font-family: Verdana;
    color: black;
    text-align: center;
    margin-bottom: 2%;
}

#reservated-head {
    background: gray;
    text-align: center;
    font-size: 15px;
}

.list-tbody {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#footer{
    background-color: rgb(126, 120, 120);
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
    margin:auto;
}