* {
    box-sizing: border-box;
}

table {
    width: 100%;
    border: 2px solid black;
    border-radius: 1rem;
}
td, th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid black;
}
tr {
    border-bottom: 1px solid black;
}
.background {
    background-color: #c4cfe9;
}
.myInput {
    border-radius: 0.75rem;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    max-width: 220px;
}
.listItem {
    border-radius: 1rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    background-color: #c4cfe9;
    transition: all 300ms ease-out;
    cursor: default;
}
.listItem:hover {
    transform: scale(1.01);
    border: black solid 1px;
    z-index: 999;
}
.floor {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border: none;

}
