* {
    margin: 0;
    padding: 0;
}

body {

}

.bg-lightdark {
    background-color: #0d1117
}

.main {
    margin-top: 1.5vh;
}

.user {
    margin-top: auto!important;
    margin-bottom: auto!important;
}

.username {
    text-transform: uppercase;
}