<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="index.php">Home</a>
            <a class="nav-link active" aria-current="page" href="CsvReservationsList.php">Wszystkie Rezerwacje csv</a>
            <a class="nav-link active" aria-current="page" href="XmlReservationsList.php">Wszystkie Rezerwacje xml</a>
            <a class="nav-link active" aria-current="page" href="JsonReservationsList.php">Wszystkie Rezerwacje json</a>
        </div>
    </div>
</nav>

<div id="room-name">
    Hotel PHP
</div>