<nav class="navbar navbar-dark navbar-expand-lg bg-darkcustom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PHPCourse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index.php">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./reservationList.php">All reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./room.php">Add room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Test</a>
                </li>
            </ul>
        </div>
    </div>
</nav>